:root{
  --color-bg-dark: #f5f5f5;
  --color-bg:#fdfffd;
  --color-grey:#d1d1d1;
  --color-text: #22243b;
  --color-accent: #5c9ca5f7;
  --color-white:white;
  --color-scrollbar:#aaa7a7;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  /* 강조색깔을 브라우저값 말고 지정 값으로 변경 */
  accent-color:var(--color-accent);
  background: rgb(81,87,111);
  background: linear-gradient(
    106deg, 
    rgba(81,87,111,1) 0%, 
    rgba(60,61,69,1) 100%);
}

#root{
  width:100%;
  height:60%;
  max-width:500px;
  background-color: var(--color-bg-dark);
  /* 자식이 부모요소보다 커졌을때 
  밖을 침범하는 것에 대하여 hidden*/
  overflow: hidden;
  border-radius: 1rem;
  display:flex;
  flex-direction: column;
  -webkit-box-shadow: 2px 2px 13px 7px #2D2D2D; 
box-shadow: 2px 2px 13px 7px #2D2D2D;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}

ul{
  list-style:none;
  padding-left:0;
}

/* 모든 버튼의 테두리 없애기 */
button{
  outline:none;
  border:none;
}
/* 스크롤바 꾸미기 */
::-webkit-scrollbar{
  width:0.5rem;
}
::-webkit-scrollbar-track{
  background-color: var(--color-bg-dark);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-accent);
}